.header{
    background-image: url(img/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content{
    width: 1170px;
    margin-left: 82px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100vh;
}
.company-name{
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;  
    width: 100%;
}
.description-first{
    font-family: "Lato", sans-serif;
    color:  #ffffff;
    font-size: 18px;
    margin-top: 16px;
    width: 100%;
}
.description-second{
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    margin-top: 28px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 130px;
    padding-right: 56px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ffffff;
    
}
.bg-white {
    background-color: white;
    padding: 48px 29px 41px 34px;
    display: inline-block ;
  }
  .text-orange {
    color:#f1ad1d;
  }
  .orange-line::after{
    content: "";
    display: block;
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    margin: 52px auto 0; 

  }
  .block{
    margin-top: 112px;  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  .they-said{
    background-image: url(./img/bg-image2.jpg);
  }
  .background-white{
    background-color: #fff;
  }
  .block-title{
    font-family: "Montserrat", sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;

  }
  .block-description{
    font-family: "Lato", sans-serif;
    color:  #4d4943;
    font-size: 17px;
    margin-top: 35px;
    text-align: center;
    padding-bottom: 137px;


  }
  .we-change{
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 130px;
    padding-bottom: 130px;
  }
  .the-secret-is-a-team{
    background-image: url(img/bg-image3.jpg);
  }

  .they-trust{
    background-image: url(img/bg-image4.jpg);
  }
  .about-our-bird{
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 130px;
  }
  .our-products-link{
    font-family: "Lato", sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 60px;
    padding-bottom: 119px;
    width: 100%;
    text-align: center;
    line-height: 28px;
  }
  .gray-line::after{
    content: "";
    display: block;
    width: 281px;
    height: 3px;
    background-color: #ffffff;
    margin: 44px auto 0; 
  }
  .feautured-on{
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 130px;
  }
.our-clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}
.clients-company{
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 113px;
}
.name{
    max-width: 100%;
}
  .we-share{
    padding-top: 130px;
  }